@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px
}

body {
	background-color: lightsalmon; 
	padding: 40px; 
}

header {
	background-color: bisque; 
	padding: 20px;
	margin: 30px; 
	border-width: 3px;
	border-color: chocolate;
	border-style: solid; 
}

h1 {
	font-size: 40px;
}

.sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
	background-color: floralwhite; 
	padding: 30px; 
	margin: 30px; 
}
