@charset "utf-8";
/* CSS Document */

  @import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;600&display=swap');

*{
	margin: 0%;
	padding: 0%;
}

body {
	background-color: navajowhite; 
	padding: 6%;
	margin: 2%; 
	display: flex;
	flex-direction: column;
	align-items: center; 
}

header {
	background-color: goldenrod;
	width: 81%; 
	padding: 3%;  
	border-width: 6%;
	border-color: darkgoldenrod; 
	border-style: solid; 
	border-radius: 30px;
	display: flex; 
	align-items: center; 
	justify-content: center; 	
}

nav {
	position: sticky;
	top: 0%; 
	width: 85%; 
	height: 38px; 
	padding: 0.8%;
	margin-top: 2%;  
	border-radius: 18px;
	background-color: olive;  
	display: flex;   
	justify-content: center;
}

nav .botonera {
	display: flex;   
	justify-content: space-around;
	align-items: center; 
	width: 45%; 
}

.boton-contacto, .boton-mis-trabajos, .boton-inicio {
	font-size: 19px; 
	font-family: 'Signika SemiBold', "sans-serif";
	color: white;
	text-decoration: none;  
	text-align: center; 
	padding: 6px; 
	border-width: 1.7px;  
	border-radius: 10px; 
	border-color: white; 
	border-style: solid;  
	width: 100%; 
}

.boton-inicio:hover {
	background-color: olivedrab;
	border-style: outset; 
	padding: 8px; 
	border-width: 2px;
	transform: translateY(-3px);
	transition-duration: 0.2s;	
}

.boton-mis-trabajos:hover {
	background-color: olivedrab;
	border-style: outset; 
	padding: 8px; 
	border-width: 2px;
	transform: translateY(-3px);
	transition-duration: 0.2s;	
}

.boton-contacto:hover {
	background-color: olivedrab; 
	border-style: outset;
	padding: 8px; 
	border-width: 2px;
	transform: translateY(-3px);
	transition-duration: 0.2s;
}

.boton-inicio:active {
	background-color: darkolivegreen;
	border-style: inset;
}

.boton-contacto:active {
	background-color: darkolivegreen;
	border-style: inset;
}

.boton-mis-trabajos:active {
	background-color: darkolivegreen; 
	border-style: inset;
}

div {
	display: flex;  
	flex-direction: column; 
	margin-left: 4%; 
}

h1 {
	font-size: 55px;
	font-family: 'El Messiri', "sans-serif";   
}

h3 {
	font-size: 25px; 
	font-family: 'Signika Light', "sans-serif";  
}

main {
	margin-top: 5%;
	width: 70%; 
	padding: 1%; 
	display: flex;  
	align-items: center; 
	justify-content: center; 
}


.columna1 {
	display: flex;
	flex-direction: column;
}

.columna2 {
	display: flex;
	flex-direction: column; 
}

h4 {
	font-size: 19px; 
	font-family: 'Signika SemiBold', "sans-serif"; 
	margin-bottom: 5%; 
}

p, ul {
	font-size: 18px; 
	font-family: 'Baskerville', "Times New Roman", "serif";
}

main ul {
	margin-left: 6%;
}

.sec1, .sec2, .sec3 {
	background-color: burlywood; 
	padding: 8%; 
	margin: 5%; 
	border-radius: 20px;
	width: 75%; 
}

.sec4, .sec5, .sec6 {
	background-color: chocolate; 
	color: white; 
	padding: 10%; 
	margin: 5%; 
	border-radius: 20px;
	width: 340px;	
}

li a {
	text-decoration: none;
	color: black; 
}

li a:hover {
	color: darkred; 
	font-size: 20px;
	transform: translateY(-3px);
	transition-duration: 0.2s;
}

li a:active {
	color: orangered; 
}

footer {
	background-color: darkkhaki; 
	font-family: 'Baskerville', "Times New Roman", "serif";
	font-size: 14px; 
	color: #393939; 
	width: 85%; 
	padding: 0.5%;
	margin-top: 5%;  
	border-radius: 8px;
	display: flex;   
	justify-content: space-around; 
}



/* html: mis trabajos y html: formulario de contacto */

h2 { 
	font-size: 40px;
	font-family: 'El Messiri', "sans-serif"; 
}



/* html: formulario de contacto */

main {
	width: 70%; 
}

form { 
	background-color: burlywood;
	border-radius: 25px; 
	width: 100%; 
	padding: 2%; 
	display: flex;
	align-items: flex-start; 
	
}

form div {
	margin: 5%; 
	padding: 3%;
	
}

label { 
	font-size: 18px; 
	font-family: 'Baskerville', "Times New Roman", "serif";
}

input {
	border-radius: 10px; 
	padding: 6%; 
	margin: 5%; 
	width: 100%; 
	margin-bottom: 7%; 
	font-size: 18px; 
	font-family: 'Baskerville', "Times New Roman", "serif";
}

.items-genero {
	width: 85%; 
	margin: 2%; 
	padding: 2%; 
	display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.items-genero label {
	padding: 5%; 
}

.boton-enviar {
	color: white; 
	background-color: chocolate; 
	width: 40%; 
	height: 2%; 
	padding: 6%; 
	margin-top: 10%; 
	font-size: 19px; 
	font-family: 'Signika SemiBold', "sans-serif";
}

.boton-enviar:hover {
	background-color: olive;
	font-size: 21px;
	width: 42%; 
	transform: translateY(-3px);
	transition-duration: 0.2s;
	
}


/* html: mis trabajos */

.galeria {
	display: flex; 
	justify-content: center; 
	background-color: burlywood;
	border-radius: 25px;
	width: 75%; 
	padding: 4%; 
}

a img {
	border-radius: 15px;
	margin: 4%;
}

a img:hover {
	border-style: solid;
	border-color: chocolate;
	border-width: 3%; 
	transform: translateY(-3px);
	transition-duration: 0.2s;
}

@media screen and (max-width:500px) {
	
	header {
	    width: 100%; 
	}
	
	nav {
		width: 100%; 
		flex-direction: column
	}
	
	nav botonera {
		width: 70%; 
	}
	
	.galeria {
		flex-direction: column; 
	}
 
	form {
		flex-direction: column; 
	}
	
	footer {
		width: 100%; 
	}
}


